.title-faq h1 {
    color: #df4759;
    font-weight: 900;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    background: #292b2c !important;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(100%);
    -webkit-filter: brightness(0%) invert(100%);
}