/* FONT STYLING */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

.icon-profile {
    color: orange !important;
    padding-bottom: 5px;
}

.icon-logout {
    color: orange !important;
    padding-bottom: 4px;
}