.profile-pict {
    width: 250px;
    height: auto;
    clip-path: circle();
}

.btn-change-profile {
    width: 15rem !important;
}

.pp-section {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
}

.card-size-profile {
    height: 18rem;
}