.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.sidebar li {
    list-style: none;
    padding: 1rem 2rem;
    display: flex;
}

.sidebar li:hover {
    background-color: rgb(211, 209, 209);
    color: red;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.home-title h5 {
    color: red;
    font-weight: 700;
}